body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
/* background: #2326FB; */
  color: #1C120D;
  /* color: white; */
  
}
.App {
  position: relative;
}

.profilepicture {
  width: 100%;
}

/* DEMO STYLES */
.nav {
  padding: 30px 0;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  background-color: #2326FB;
  z-index: 100;
}
.nav a {
  flex-basis: auto;
  flex-grow:1;
  text-align: center;
  transition: all 0.3s linear;
  text-decoration: none;
  color: white;
}
.nav a.active {
  color: white;
  text-decoration: line-through;
}
section {
  /* padding: 50px 30px; */
  /* max-width: 640px; */
  /* margin: 0 auto; */
}
.page {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}

ul.grid{
display: flex;
flex-wrap: wrap;
margin: 0;
padding:0;
}

li.grid-box{
  background: #2326FB;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin: 0 10px 10px 0;
  list-style: none;
}

li.grid-box a{
  display: block;
  padding-top:40px;
  color: white;
  text-decoration: none;
}

.projects > li.grid-box{
  background: #EE9EA5;
  width: 100%;
  height: 100px;
}

.playlists > li.grid-box{
  background: #EE9EA5;
  width: 23%;
  height: 75px;
}



/* advanced - enter transition 800ms, exit 150ms */



/* simple - enter transition 300ms, exit 150ms */
/* .fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
} */
/* ----------------------------*/



/* portfolio.css */

.portfolio-image{
  width: 100%;
  height: 350px;
  background: lightblue;
}

.p-title-context{
  font-weight: 700;
  font-size: .875rem;
  color: grey;
  letter-spacing: 0em;
  padding-top: 6em;
  padding-bottom: 1em;
  padding-left: 0em;
  text-transform: uppercase;
}
.p-title-sub{
  color: #2326FB;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0em;
  padding-left: 0em;
  padding-top: 6em;
  padding-bottom: 1em;
  text-transform: uppercase;
}
.p-title{
  line-height: 1.25;
  font-size: 2.25rem
}
p{
  font-size:1.2rem;
  font-weight: 400;
  line-height: 1.5em;
}
.caps{
  text-transform: uppercase;
  letter-spacing: .05em;
}
.b{
  font-weight:500;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }

 .f-6,
 .f-headline {
   font-size: 6rem;
 }
 .f-5,
 .f-subheadline {
   font-size: 5rem;
 }
.lh-solid { line-height: 1; }
.lh-title { line-height: 1.25; }
.lh-copy  { line-height: 1.5; }
