@import "~normalize.css/normalize.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* background: #2326FB; */
  color: #1C120D;
  /* color: white; */
}




// font styles ------------------------------------
p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5em;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .05em;
}

.b {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .875rem;
}

.f-6,
.f-headline {
  font-size: 6rem;
}

.f-5,
.f-subheadline {
  font-size: 5rem;
}

.lh-solid {
  line-height: 1;
}

.lh-title {
  line-height: 1.25;
}

.lh-copy {
  line-height: 1.5;
}

// nav styles ------------------------------------
.nav {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2326FB;
  z-index: 100;

  a {
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    transition: all 0.3s linear;
    text-decoration: none;
    color: white;

    .active {
      color: white;
      text-decoration: line-through;
    }
  }
}

// page styles ------------------------------------



.page {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  padding: calc(62px + 3rem) 3rem 3rem 3rem;
  height: 100%;
  overflow-y: scroll;

  &.work {
    ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      padding: 0 0 6rem 0;
      margin: 0;

      li {
        display: flex;
        width: calc(100% / 4 - 2rem);
        min-height: 200px;
        margin-bottom: 2rem;
        margin-right: 2rem;
        justify-content: space-between;

        div {
          display: flex;
          flex: 1;
          border: 1px solid white;
        }

        a {
          display: flex;
          flex: 1;
          flex-flow: column;
          padding: 4rem;
          align-items: center;
          justify-content: space-between;
          text-align: center;
          text-decoration: none;
          color: white;
          background:blue;

          &:hover {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
    .page {
        padding: calc(62px + 3rem) 1rem 1rem 1rem;
        ul {
            li {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1140px) {
    .page {
        ul {
            li {
                width: calc(100% / 3 - 2rem);
            }
        }
    }
}


/* advanced - enter transition 800ms, exit 150ms */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateY(-10px);
}

.fade-appear p,
.fade-enter p {
  transform: translateY(-5px);
  opacity: 0;
}

.fade-appear li,
.fade-enter li {
  transform: translateY(-5px);
  opacity: 0;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 330ms linear 250ms, transform 330ms ease-out 250ms;
}


.fade-appear-active p,
.fade-enter.fade-enter-active p {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 330ms linear 150ms, transform 330ms ease-out 150ms;
}


.fade-appear-active li,
.fade-enter.fade-enter-active li {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 400ms linear 400ms, transform 400ms ease-out 400ms;
  transition-delay: 300ms;
}

.fade-appear-active li:nth-of-type(2),
.fade-enter.fade-enter-active li:nth-of-type(2) {
  transition-delay: 400ms;
  transition: opacity 400ms linear 400ms, transform 400ms ease-out 400ms;
}

.fade-appear-active li:nth-of-type(3),
.fade-enter.fade-enter-active li:nth-of-type(3) {
  transition-delay: 500ms;
  transition: opacity 500ms linear 500ms, transform 500ms ease-out 500ms;
}

.fade-appear-active li:nth-of-type(4),
.fade-enter.fade-enter-active li:nth-of-type(4) {
  transition-delay: 600ms;
  transition: opacity 600ms linear 600ms, transform 600ms ease-out 600ms;
}

.fade-appear-active li:nth-of-type(5),
.fade-enter.fade-enter-active li:nth-of-type(5) {
  transition-delay: 700ms;
  transition: opacity 700ms linear 700ms, transform 700ms ease-out 700ms;
}

.fade-appear-active li:nth-of-type(6),
.fade-enter.fade-enter-active li:nth-of-type(6) {
  transition-delay: 800ms;
  transition: opacity 800ms linear 800ms, transform 800ms ease-out 800ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 250ms linear, transform 350ms ease-in;
}


// page: about styles 
.profilepicture {
  width: 100%;
}


// portfolio piece styles
.goback {
  font-size: 2rem;
  cursor: pointer;
}

.portfolio-image {
  width: 100%;
  height: 350px;
  background: lightblue;
}

.p-title-context {
  font-weight: 700;
  font-size: .875rem;
  color: grey;
  letter-spacing: 0em;
  padding-top: 6em;
  padding-bottom: 1em;
  padding-left: 0em;
  text-transform: uppercase;
}

.p-title-sub {
  color: #2326FB;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0em;
  padding-left: 0em;
  padding-top: 6em;
  padding-bottom: 1em;
  text-transform: uppercase;
}

.p-title {
  line-height: 1.25;
  font-size: 2.25rem
}